.calculator {
    color:#41B883; 
    background-color:#35495E; 
    border: 2pt solid #41B883;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.calculator_table {
    width: 12.5rem;
    border-spacing: 0.313rem;
}

.calculator_header {
    text-align: center;
    background-color: #41B883;
    font-family: Verdana;
    font-size: 1rem;
    color: #35495E;
}

.display_input {
    color:#35495E;
    background-color:#CFCFCF;
    border:2pt solid #41B883
}

.calculator_button {
    color:#41B883; 
    background-color:#35495E; 
    cursor:hand; 
    padding:0.563rem; 
    border:0;

    &:active {
        background-color: #41B883;
        color:#35495E;
    }
}